{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>

    <link rel="stylesheet" href="{% static 'node_modules\@chrisoakman\chessboardjs\dist\chessboard-1.0.0.min.css' %}">
    <script src="{% static 'node_modules\jquery\dist\jquery.min.js' %}"></script>
    <script src="{% static 'node_modules\@chrisoakman\chessboardjs\dist\chessboard-1.0.0.min.js' %}"></script>

    </script>

</head>

<body>
    <div id="board" style="width: 800px"></div>

    <form action="{% url 'reset' %}" method="POST">
        {% csrf_token %}
        <button>Reset</button>
    </form>


    <!-- <button id="showPositionBtn">Show position in console</button> -->

    <!-- <button id="startBtn">Start Position</button>
    <button id="clearBtn">Clear Board</button> -->

    <script src="{% static 'script.js' %}" ></script>
</body>

</html>